@using Microsoft.Ajax.Utilities
<!DOCTYPE html>
<html lang="en">
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyVIPCity</title>
    <!-- Vendors -->
    <!-- Material design colors -->
    <link href="~/Scripts/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!--Sweet alerts-->
    <link href="~/Scripts/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- CSS animations -->
    <link rel="stylesheet" href="~/Scripts/vendors/bower_components/animate.css/animate.min.css">
    <!-- Site -->
    <link rel="stylesheet" href="~/Content/css/app_1.min.css">
    <link rel="stylesheet" href="~/Content/css/app_2.min.css">
    <link rel="stylesheet" href="~/Content/css/vip.min.css">
    <!-- Page Loader JS -->
    @*<script src="~/Scripts/app/page-loader.js" async></script>*@
</head>
<body>
    <!-- Start page loader -->
    <div id="page-loader">
        <div class="page-loader__spinner"></div>
    </div>
    <!-- End page loader -->
    <header id="header">
        <div class="header__top">
            <div class="container">
                <ul class="top-nav">
                    @Html.Partial("../Account/_LoginOrLogOffPartial")
                    <li class="pull-right top-nav__icon">
                        <a href=""><i class="zmdi zmdi-facebook"></i></a>
                    </li>
                    <li class="pull-right top-nav__icon">
                        <a href=""><i class="zmdi zmdi-twitter"></i></a>
                    </li>
                    <li class="pull-right top-nav__icon">
                        <a href=""><i class="zmdi zmdi-google"></i></a>
                    </li>
                    <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-email"></i>hello@MyVIPCity.com</span></li>
                    <li class="pull-right hidden-xs"><span><i class="zmdi zmdi-phone"></i>+1-305-000-0000</span></li>
                </ul>
            </div>
        </div>
        <div class="header__main">
            <div class="container">
                <a class="logo" href="/">
                    <img src="~/Content/img/logo.png" alt="">
                    <div class="logo__text">
                        <span>MyVIPCity</span>
                        <span>Find your next best nightlife experience</span>
                    </div>
                </a>
                <!--Directive to render navigation menu-->
                <div class="vip-navigation-menu"></div>
            </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            @if (ViewBag.HideNgView == null || ViewBag.HideNgView != true) {
                <div ng-view></div>}
            <div class="mvc-body-container">
                @RenderBody()
            </div>
        </div>
    </section>
    <footer id="footer" class="footer">
        <div class="container hidden-xs">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer__block">
                        <a class="logo clearfix" href="">
                            <div class="logo__text">
                                <span>MyVIPCity</span>
                                <span>Find your next best nightlife experience</span>
                            </div>
                        </a>
                        <address class="m-t-20 m-b-20 f-14">
                            123 Lincoln Road, Miami Beach, Florida
                        </address>
                        <div class="f-20">+1-305-000-000</div>
                        <div class="f-14 m-t-5">hello@MyVIPCity.com / info@MyVIPCity.com</div>
                        <div class="f-20 m-t-20">
                            <a href="" class="m-r-10"><i class="zmdi zmdi-google"></i></a>
                            <a href="" class="m-r-10"><i class="zmdi zmdi-facebook"></i></a>
                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer__block footer__block--blog">
                        <div class="footer__title">Latest from our blog</div>
                        <a href="">
                            Blog Entry 1
                            <small>On 2016/06/20 at 6:00 PM</small>
                        </a>
                        <a href="">
                            Blog Entry 2
                            <small>On 2016/06/18 at 7:12 PM</small>
                        </a>
                        <a href="">
                            Blog Entry 3
                            <small>On 2016/06/10 at 12:59 PM</small>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer__block">
                        <div class="footer__title">Disclaimer</div>
                        <div>The information contained in this website is for general information purposes only. The information is provided by MyVIPCity and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <span class="footer__copyright">© MyVIPCity @DateTime.Now.Year </span>
                <a href="">About Us</a>
                <a href="">Terms & Conditions</a>
                <a href="">Privacy Policy</a>
            </div>
            <div class="footer__to-top" data-rmd-action="scroll-to" data-rmd-target="html">
                <i class="zmdi zmdi-chevron-up"></i>
            </div>
        </div>
    </footer>
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="ie-warning__inner">
            <ul class="ie-warning__download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="img/browsers/chrome.png" alt="">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="img/browsers/firefox.png" alt="">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="img/browsers/opera.png" alt="">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="img/browsers/safari.png" alt="">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="img/browsers/ie.png" alt="">
                        <div>IE (New)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Javascript -->
    <script type="text/javascript">
        var dependencyLibraries = {
            paths: {
                'jquery': '@Scripts.Url("~/Scripts/vendors/bower_components/jquery/dist/jquery.min")',
                'angular': '@Scripts.Url("~/Scripts/vendors/bower_components/angular/angular.min")',
                'angular-animate': '@Scripts.Url("~/Scripts/vendors/bower_components/angular-animate/angular-animate.min")',
                'angular-resource': '@Scripts.Url("~/Scripts/vendors/bower_components/angular-resource/angular-resource.min")',
                'angular-messages': '@Scripts.Url("~/Scripts/vendors/bower_components/angular-messages/angular-messages.min")',
                'angular-route': '@Scripts.Url("~/Scripts/vendors/bower_components/angular-route/angular-route.min")',
                'bootstrap': '@Scripts.Url("~/Scripts/vendors/bower_components/bootstrap/dist/js/bootstrap.min")',
                'waves': '@Scripts.Url("~/Scripts/vendors/bower_components/Waves/dist/waves.min")',
                'sweet-alert': '@Scripts.Url("~/Scripts/vendors/bower_components/sweetalert2/dist/sweetalert2.min")',
                'es6-promise': '@Scripts.Url("~/Scripts/vendors/bower_components/es6-promise/es6-promise.min")',
                'jquery-auto-grow-input': '@Scripts.Url("~/Scripts/vendors/bower_components/jquery-auto-grow-input/jquery.auto-grow-input.min")',

                'myVipCityConfig': '@Scripts.Url("~/Configuration/JsConfig?x=0")',
                'app': '@Scripts.Url("~/Scripts/app/app.min")'
            },
            shim: {
                'jquery': {
                    exports: 'jQuery'
                },
                'angular': {
                    deps: ['jquery'],
                    exports: 'angular'
                },
                'angular-resource': {
                    deps: ['angular']
                },
                'angular-messages': {
                    deps: ['angular']
                },
                'angular-animate': {
                    deps: ['angular']
                },
                'angular-route': {
                    deps: ['angular']
                },
                'bootstrap': {
                    deps: ['jquery']
                },
                'waves': {
                    deps: ['jquery']
                },
                'sweet-alert': {
                    exports: 'swal',
                    deps: ['es6-promise']
                },
                'jquery-auto-grow-input': {
                    deps: ['jquery']
                },

                'app': {
                    deps: ['jquery']
                },
                'myVipCityConfig': {
                    exports: '_myVipCityConfig'
                }
            }
        };
        // set the version of the app
        window.myVipCityVersion = '1.0.0';
    </script>

    @* TODO: Add main.min.js if in production *@
    <script data-main="@Url.Content("../../Scripts/modules/main.js")" src=@Url.Content("../../Scripts/vendors/bower_components/requirejs/require.js")></script>

    <!-- IE9 Placeholder -->
    <!--[if IE 9 ]>
    <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)
</body>
</html>